.hero-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin: 7%;
  gap: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.my-role {
  color: var(--secondary-green);
}

.profile-pic {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in, filter 0.3s ease-in;
}

.profile-pic:hover {
  filter: brightness(0.8);
  box-shadow: 0px 0px 12px var(--secondary-green);
}

/* Responsive Hero Layout */
@media (min-width: 768px) {
  .hero-section {
    padding: 0px 20px;
    flex-direction: row;
    text-align: start;
  }

  .profile-info {
    align-items: flex-start;
    text-align: start;
  }

.my-name{
font-size: var(--h1-font-size-sm);
} 

@media (min-width: 1536px) {
  .my-name{
    font-size: var(--h1-font-size-lg);
    } 
}
}
